<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Jerry's Login Page</title>
</head>

<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
     <link rel="stylesheet" href="/css/jass.css">
     <link rel="stylesheet" href="/css/createUser.css">
     <link rel="stylesheet" href = '/css/webpage.css'>
    <title>Document</title>
</head>

<body>
    
    <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">See Friends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
  </li>
  
  <li class="nav-item">
    {{#if loggedIn}}
     <a href = "/login"class="login-signup">Login/SignUp</a>
    
    {{else}}
   <a href="/" id=" logout-link">logout</a> |
    {{/if}}
  </li>
</ul>
<!--<form class="form">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">username</label>
        <input type="text" class="form-control" id="username" placeholder="put username here" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">password</label>
        <input type="text" class="form-control" id="password" placeholder="put password here" required>
         <button id="signup" type="submit">Sign Up</button>
    <button id= 'login'type="login">Login</button>
    </div>
</form> -->

{{{body}}}

<span>&#9729;</span>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Anime quacks: </strong> by 
      <a href="http://opensource.org/licenses/mit-license.php">mit-license</a>.<label id ='animeShow'></label>
 <label id="quote"></label> 
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        {{!-- {{#if loggedIn}}
        <script src="/js/script.js"></script>
        {{else}}
       
      {{/if}}
      <script src="/js/webpage.js"></script> --}}
      <script src="/js/logout.js"></script>
      <script src = "/js/login.js"></script>
      {{!-- <script src="/js/animequote.js"></script> --}}
      <script src="/js/webpage.js"></script>
</body>

  </div>
</footer>

</html>
