<form class="form">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">username</label>
        <input type="text" class="form-control" id="username" placeholder="put username here" required>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">password</label>
        <input type="text" class="form-control" id="password" placeholder="put password here" required>
         <button id="signup" type="submit">Sign Up</button>
    <button id='login' type="login">Login</button>
    {{!-- <script src="/js/login.js"></script> --}}
    </div>
</form>