<form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Name:</label>
        <input class="form-input" type="text" id="name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Post:</label>
        <textarea class="form-input" id="description" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="Create-btn">Create</button>
      </div>
    </form>
  </div>
    <script src="/js/createuser.js"></script>