<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">My Flock </a>
      <div class="icons">
        <i class="fas fa-save text-light save-note"></i>
        <i class="fas fa-plus text-light new-note"></i>
      </div>
    </nav>
    {{#each users as |user| }}
   <div class="card1">
    <figure class="image is-128x128">
  <img class="is-rounded" src="https://i.natgeofe.com/k/327b01e8-be2e-4694-9ae9-ae7837bd8aea/mallard-male-swimming_4x3.jpg">
</figure>
  {{!-- <img id = 'duck1' src ="https://i.natgeofe.com/k/327b01e8-be2e-4694-9ae9-ae7837bd8aea/mallard-male-swimming_4x3.jpg" alt="Avatar" style="width:10%"> --}}
  <div class="container1">
   <h4><b id ='profile1'>{{user.user_name}}</b></h4>
    <p id = 'description1'>{{user.description.description}}</p>
    <p id ='description1.5'></p>
  </div>
</div>
{{/each}}

{{!-- <div class="card2">
  <img src ="https://i.natgeofe.com/k/327b01e8-be2e-4694-9ae9-ae7837bd8aea/mallard-male-swimming_4x3.jpg " id = 'duck2' alt="Avatar" style="width: 10%;">
  <div class="container2">
    <h4><b id="profile2">person2</b></h4>
    <p id = 'description2'>description</p>
    <p id = 'description2.5'></p>
  </div>
</div> --}}

          {{!-- <textarea class="note-textarea" placeholder="Note Text"></textarea>
        </div> --}}
      </div>
    </div>
   
  {{!-- <script src="/js/webpage.js"></script> --}}
