.createUser{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    margin-left: 500px;
    
    

}

.form-input {
    width: 200px;
    height: 200px;
 
}

.formName {
    width:200px;

}


span {
    width:200px;

}


@media screen and (min-width: 480px) {
   .form-input {
    width: 200px;
    height: 200px;
        float:left;
    }

    .formName {
        width:200px;
        height: 200px;
         
    }
    span {
        width:200px;
        height: 200px;
    
    }
}