<nav class="navbar">
    <div class="left">
        {{!-- LOGO --}}
        {{!-- anime random picture --}}
        {{!-- <a href=""></a> --}}
    </div>
    <div class="right">
        <select name="home" class="home">
            <option value="activity">Your Activity</option>
            <option value="freidns">Friend List</option>
            <option value="search">Search</option>
            <option value="signup">Sign up</option>
        </select>
        <button><a href="#">Sign In</a></button>
    </div>
</nav>