<div class="message-container">
    <div class="box">
        <div class="photo">
            {{!-- random anime picture --}}
        </div>
        <div class="info">
            <h1>{{data.title}}</h1>
            <br><br>
            {{data.msg}}
        </div>
    </div>
</div>